---
layout: layouts/home.njk
permalink: /about/
title: About
eleventyNavigation:
  key: About
  order: 2
---


<br><br>
<div class="round">
<h2>Hi, I'm Yordan</h2>
<p>And I like to take photos.</p>
</div>

<img src = "/img/yordan-photography.jpg" class="round" width="400px">


