---
layout: layouts/home.njk
title: Home
templateClass: tmpl-home

---
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px; color:black">Yordan Monev</h1>
    <h3>Photography</h3>
  </div>
</div>