---
layout: layouts/home.njk
title: YM Photography
eleventyNavigation:
  key: Home
  order: 1
---
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px; color:white">Yordan Monev</h1>
    <h3>Photography</h3>
  </div>
</div>


<br>
  <img src = "/img/eiffel-tower-night.jpg" class="center" >
 <img src = "/img/lost-in-stars.jpg" class="center" > 
 <img src = "/img/buba.jpg" class="center" > 
  <img src="/img/japan-underpass.jpg" class="center">
  <img src="/img/tokyo-night-court.jpg" class="center">
  <img src="/img/kyoto-night-square.jpg" class="center">
    <img src="/img/tokyo-shibuya.jpg" class="center">
  <img src = "/img/sofia-buildings.jpg" class="center" >
  <img src="/img/sofia-sunset-sky.jpg" class="center"> 
  <img src = "/img/sofia-city-lights.jpg" class="center" >
  <img src = "/img/borough-pub.jpg" class="center" >
  <img src = "/img/shard-eynsford.jpg" class="center" >


